.page {
  display: block;
  padding: var(--tab-radius);
  border: var(--default-border);
  border-top: none;
  border-radius: 0 0 var(--radius) var(--radius);
  background-color: var(--page-bgcolor);
  position: relative;
  min-height: var(--page-height);
  height: auto;
}

.projectDescription {
  padding: var(--tab-radius);
  font-size: large;
  width: 100%;
  height: 100%;
  resize: none;
  white-space: nowrap;
  background-color: var(--page-bgcolor);
}

.projectDescription:empty::before {
  font-style: italic;
  color: red;
  content: '(project has no description)';
}

.projectDescription:focus {
  border-radius: var(--tab-radius);
  outline: 2px dotted red;
  outline-offset: 0;
  font-style: italic;
}

.projectDescription:focus:empty::before {
  color: pink;
  content: 'enter description';
}

.tasklist {
  border: 1px solid black;
  border-radius: var(--tab-radius);
  border-top: none;
}

.task {
  position: relative;
  border: none;
  padding: var(--tab-radius);
  border-top: 1px solid black;
  border-radius: var(--tab-radius);
  --high: red;
  --medium: orange;
  --low: green;
  --priority: var(--low);
}

.task>summary {
  height: calc(var(--tab-height) - 2 * var(--tab-radius));
  line-height: calc(var(--tab-height) - 2 * var(--tab-radius));
  vertical-align: top;
}

.task>summary::marker {
  color: var(--priority);
}

.taskTitle {
  vertical-align: top;
  display: inline-block;
  width: auto;
  max-width: 85rem;
  overflow: hidden;
  white-space: nowrap;
  font-size: large;
  text-overflow: ellipsis;
}

.taskTitle:empty::before {
  font-style: italic;
  color: red;
  content: '(untitled task)';
}

.taskTitle:focus {
  border-radius: calc(var(--tab-radius) / 2);
  outline: 2px dotted red;
  outline-offset: 2px;
  font-style: italic;
}

.taskTitle:focus:empty::before {
  color: pink;
  content: 'enter title';
}

.taskDuedate {
  position: absolute;
  right: var(--tab-radius);
  display: inline-block;
  width: fit-content;
  font-size: large;
}

.taskDuedate:before {
  content: 'Due: ';
}

.taskDescription {
  padding: var(--tab-radius);
  margin: 10px 0 5px;
  font-size: medium;
}

.taskDescription:empty::before {
  font-style: italic;
  color: red;
  content: '(task has no description)';
}

.taskDescription:focus {
  border-radius: var(--tab-radius);
  outline: 2px dotted red;
  outline-offset: -3px;
  font-style: italic;
}

.taskDescription:focus:empty::before {
  color: pink;
  content: 'enter description';
}

.taskPriority {
  margin-left: auto;
  width: fit-content;
  font-size: large;
  color: var(--priority);
}

.taskPriority:before {
  color: black;
  content: 'Priority: ';
}

#datepicker {
  height: calc(var(--tab-height) - 2 * var(--tab-radius));
  line-height: calc(var(--tab-height) - 2 * var(--tab-radius));
  vertical-align: top;
  outline: none;
  border: none;
  padding: 0;
  background-color: var(--page-bgcolor);
  display: inline-block;
  font-size: large;
  position: absolute;
  width: 10rem;
  right: var(--tab-radius);
}
#datepicker:before {
  content: 'Due:';
  padding-right: 0.5rem;
}
.taskLastLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  padding: 5px;
  margin: 5px;
}