.title {
  border: var(--default-border);
  border-bottom: none;
  border-radius: var(--radius) var(--radius) 0 0;
  padding: var(--radius);
  line-height: calc(var(--title-height) - 2 * var(--radius));
  font-size: xx-large;
  background-color: var(--title-bgcolor);
  height: var(--title-height) 
}
.tab-bar {
  background-color: var(--title-bgcolor);
  display: flex;
  border: var(--default-border);
  box-sizing: border-box;
  border-top: none;
  border-bottom: none;
  height: var(--tab-height);
  box-shadow: inset 0px calc(-1 * var(--tab-radius)) var(--page-bgcolor)
}
.tab {
  border: var(--default-border);
  border-radius: var(--tab-radius) var(--tab-radius) 0 0;
  border-left: none;
  box-sizing: border-box;
  height: var(--tab-height);
  line-height: var(--tab-height);
  padding: 0 var(--tab-radius);
  background-color: #b0e0e6;
  flex: 0 1 calc(10rem + 2 * var(--tab-radius));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: large;
}
.tab:empty::before {
  font-style: italic;
  color: red;
  content: '(untitled project)';
}
#add, #left, #right {
  flex: 0 0 content;
}
#add {
  background-color: #a0cfec;
}
#left, #right {
  background-color: #bbffff;
}
#left {
  border-radius: var(--tab-radius) var(--tab-radius) var(--tab-radius) 0;
}
.active {
  border-radius: var(--tab-radius);
  border-right: none;
  border-bottom: none;
  font-weight: bold;
  overflow: visible;
  background-color: var(--page-bgcolor);
  flex-shrink: 0;
  position: relative;
}

.active + .tab {
  border-left: var(--default-border);
  border-radius: var(--tab-radius) var(--tab-radius) 0 var(--tab-radius);
}

.after-tab {
  border: none;
  border-bottom: var(--default-border);
  flex: 1 1 0;
  background-color: var(--title-bgcolor);
}
.active:focus {
  outline: 1px dotted grey;
  outline-offset: -2px;
}
.active[contenteditable="true"]:focus {
  outline: 2px dotted red;
  outline-offset: -3px;
  font-style: italic;
}
.active:focus:empty::before {
  color: pink;
  content: 'enter title';
}

.active[warning]:focus::after {
  background: var(--page-bgcolor);
  color: red;
  position: absolute;
  top: 2rem;
  left: 0;
  width: 12.5rem;
  font-size: medium;
  overflow: clip;
  white-space: normal;
  z-index: 1;
  content: attr(warning);
}